
* {
    margin, padding: 0;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

#container {
    display: inline-block;
    background-color: #E5E4E2;
}

nav {
    display: flex;
    margin: 0 10px 10px 15px;
}

hr {
    width: 85%;
    margin-left: 0;
    border-color: #7CFC00;
}

nav p {
    color: #003366;
    margin-right: 15px;
}

p a {
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background-color: #FCF4A3;
}

main {
    padding: 10px;
    clear: both;
    font-family: Helvetica;
    max-width: 80%;
    text-align: justify;
    margin: 20px;
    line-height: 1.5rem;
    color: white;
    background-color: #003366;
}

section {
    width: 30%;
    float: left;
    margin: 20px 10px;
    padding: 4px;
    border-left: 3px solid #7CFC00;
}

h3 {
    color: #003366;
}

#triplepost {
    max-width: 85%;
    margin: 20px 10px;
}

footer {
    max-width: 80%;
    color: #003366;
    text-align: center;
    font-weight: 800;
    margin-top: 40px;
    bottom: 0;
}

h5 {
    margin-bottom: 5px;
    padding: 0;
}

h2 {
    margin-top: 5px;
    padding: 0;
}

#spacing {
    height: 60px;
    width: 100%;
    float: right;
}
