body {
    background-color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 80%;
    }
#header {
    background-color: cornflowerblue;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
h1 {
    vertical-align: middle;
    color: white;
    font-weight: 800;
}
label {
    color: white;
}
.row {
    margin: 10px 20px;
}
#results {
    margin: 30px 20px 10px 0;
}
.person-row {
    margin: 10px 0;
    padding: 10px;
    background-color: darkorange;
    width: 100%;
    float: left;
}
.person-row img {
    float: left;
    margin-right: 20px;
}
.person-info {
    float: left;
}
.person-row > button {
    float: right;
}
